numpy
torch
transformers
matplotlib
folium
rasterio
fastparquet
arrow
seaborn
tensorboardX
tensorboard
scikit-learn
spacy
collection
torchsummary
pandas 
pandas_path
geopandas
torchsummary
kaggle
albumentations
pyproj
xarray
xarray-spatial